# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Some VS crap
*.ipch
*.db
*.bin
*.vsidx
.vs/
x64/
resources/test.txt

## CMake files
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
cmake_install.cmake
CMakeCache.txt
#CMakeLists.txt.user
#CMakeScripts
#Testing
#Makefile
#install_manifest.txt
#compile_commands.json
#CTestTestfile.cmake
#_deps
